/*
font-family: 'Bungee', sans-serif;
font-family: 'Sarala', sans-serif; 
*/

.pageBackground {
    margin: 0;
    padding: 0;
    background-image: url(./images-css/contacts-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

#aboutTitle {
  font-family: 'Bungee', sans-serif;
}

#aboutTitle, .cardBox {
  display: flex;
  justify-content: center;
}


.thankYouBox {
  display: flex;
  padding: 30px 40px;
  justify-content: center;
}

nav {
  float: right;
}

.profile {
  margin: 20px;
}

.aboutHeader, .cardBox, .profile {
  padding: 30px;

}

button {
  background-color: blue;
}

.imageSize {
  width: 250px;
  height: 250px;
}

.profileDesc {
  margin: 0 0 10px 0;
}

