.pageBackground {
    margin: 0;
    padding: 0;
    background-image: url(./images-css/contacts-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}


#aboutTitle, .cardBox, .thankYouBox {
  display: flex;
  justify-content: center;
 
}

nav {
  float: right;
}

.profile {
  margin: auto;
}

.aboutHeader, .thankYouBox, .cardBox, .profile {
  padding: 30px;

}

button {
  background-color: blue;
}

.imageSize {
  width: 250px;
  height: 250px;
}