body {
    margin: 0;
    padding: 0;
    background-image: url('./../backgroundscheme.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
  }

  h1 {
    font-family: 'Alfa Slab One', serif;
    font-weight: 400;
    font-size: 75px;
    margin-top: 0;
    color: rgb(62, 4, 106);
    text-shadow: 2px 2px 4px rgba(201, 215, 13, 0.5);
  }

  h3 {
   color:white;
  }


  .backbtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(201, 132, 42);
    color: rgb(62, 4, 106);
    text-shadow: 2px 2px 4px rgba(222, 232, 84, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

 

  .clearBtn {
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(201, 132, 42);
    color: rgb(62, 4, 106);
    text-shadow: 2px 2px 4px rgba(222, 232, 84, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .backbtn:hover,
  .clearBtn:hover {
    background-color: rgb(191, 134, 48); 
    color: rgb(255, 255, 255); 
    transform: 1.5;
  }

  #memeVaultContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center; 
   gap: 10px; 
   width: 90%;
   margin: auto;
 }
 
 .meme-item {
  width: 250px;
   margin: 5px; 
   box-sizing: border-box;
   padding: 20px;
   background-color: rgba(255, 255, 255, 0.26);
   border-radius: 5%;
   box-shadow: rgba(255, 166, 0, 0.514) 3px 3px 4px;
 }
 
.meme-content {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 height: 100%;
}

.meme-joke {
 margin-top: 0; 
}



@media screen and (max-width:1074px ) {
 .backbtn {
  position: unset;
  top: 10px;
  right: 10px;
  margin: 20px;
  font-size: 16px;
  background-color: rgb(201, 132, 42);
  color: rgb(62, 4, 106);
  text-shadow: 2px 2px 4px rgba(222, 232, 84, 0.5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
}


.clearBtn {
  position: unset;
  top: 10px;
  right: 10px;
  margin: 20px;
  font-size: 16px;
  background-color: rgb(201, 132, 42);
  color: rgb(62, 4, 106);
  text-shadow: 2px 2px 4px rgba(222, 232, 84, 0.5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
}
}

#memeVaultContainer {
 display: flex;
 flex-wrap: wrap;
 justify-content: center; 
 gap: 20px; 
 width: 95%;
 margin: auto;
}



