*{
	margin: 0;
	padding: 0;

}
	
	nav {
		width: 100%;
		opacity: 90%;
		background: #ccc;
		padding: 20px;
		font-size: 30px;
		background: #5D1E8E;
		font-family:Arial, Helvetica, sans-serif;
		color: white;
		padding:16px;
		border-radius: 10px;
		font-weight:lighter;
		box-shadow:4px 4px 6px #888;
		text-align:center;
		display:block;
	}
	body {
		width: 100%;
	}

.pageBackground {
				width: 100%;
				margin: 0;
				padding: 0;
			background-image: url(./images/OnlyLaughsbackground.png);
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-position: center;
				background-size: cover;
				font-family: Arial, sans-serif;
}

